:root {
  --main-color: white;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "header header header"
    "previous images next"
    "navigation navigation navigation";
  justify-items: center;
  align-items: center;
  background-color: black;
  color: var(--main-color);
  font-family: 'Bungee Inline', cursive;
}

h1 {
  grid-area: header;
}

.previous {
  grid-area: previous;
  justify-self: end;
}

.image-container {
  grid-area: images;
}

.current-image {
  height: 500px;
}

.next {
  grid-area: next;
  justify-self: start;
}

.navigation-dots-container {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigation-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border : 1px solid var(--main-color);
  margin: .5em;
  transition: background-color 250ms ease-in-out;
}

.navigation-dot.active {
  background-color: var(--main-color);
}

.previous,
.next {
  font-size: 4em;
}

.previous:hover,
.next:hover,
.navigation-dot:hover {
  cursor: pointer;
}